
@using project1.ViewModels
@model BookFormVM

@section Title {
Book
}
@section SubTitle {
    Create
}

<form asp-controller="Book" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorId"></label>
            <select asp-for="AuthorId" class="form-control" asp-items="@Model.authors"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher"></label>
            <input type="text" class="form-control" asp-for="Publisher" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PublishDate"></label>
            <input type="date" class="form-control" asp-for="PublishDate" />
            <span asp-validation-for="PublishDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="imageUrl"></label>
            <input type="file" class="form-control" asp-for="imageUrl" />
            <span asp-validation-for="imageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedCategory"></label>
            <select asp-for="SelectedCategory" class="form-control" asp-items="@Model.categories"></select>
            <span asp-validation-for="SelectedCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary"> Add </button>
    </div>
</form>