@using project1.ViewModels
@model BookVm
@section Title {
Book
}
@section SubTitle {
Edit
}

<form asp-controller="Categories" asp-action="Edit">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary"> Add </button>
    </div>
</form>